.from--delete__button{
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  padding: .9375rem 1.5625rem;
  cursor: pointer;
}