/* *|| Header Section */
.header--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.6875rem;
}

.header--logoSearch__container {
  display: flex;
  gap: 1.5rem;
}
.form--control__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.form--control__container label {
  position: absolute;
  left: -99999px;
}

.form--control__container input {
  font-size: .875rem;
  padding: 1.125rem 3.625rem;
  border-radius: 12px;
  border: 1px solid var(--color-light-grey);
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
}

.form--control__container input {
  outline: none;
}
.form--control__container span {
  position: absolute;
  z-index: 1;
  left: 1.195rem;
  color: var(--color-light-grey);
}

.header--addphoto__button {
  font-size: 1rem;
  padding: 1rem 1.25rem;
  font-weight: 700;
  background-color: var(--color-green);
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

@media (max-width: 992px) {
  .header--logoSearch__container img {
    max-width: 110px;
  }

  .header--addphoto__button {
    padding: 0px 20px;
    font-size: 14px;
    border-radius: 6px;
  }

  .form--control__container input {
    padding: .875rem 2.5rem;
    border-radius: 6px;
  } 

  .form--control__container span {
    left: .6rem;
  }
}

@media (max-width: 768px) {
  .header--logoSearch__container img {
    max-width: 100px;
  }

  .form--control__container input {
    padding: .875rem 2rem;
    border-radius: 6px;
  } 

  .form--control__container span {
    left: .4rem;
    font-size: 1.3rem;
  }

  .header--addphoto__button {
    padding: 0px 15px;
    font-size: 14px;
    border-radius: 6px;
  }
}

@media (max-width: 576px) {
  .header--container {
    flex-direction: column;
    gap: 1rem;
  }

  .header--logoSearch__container {
    justify-content: space-between;
  }
  .header--logoSearch__container img {
    max-width: 90px;
  }

  .form--control__container input {
    padding: .875rem 2rem;
    border-radius: 6px;
    max-width: 100%;
    width: 100%;
    font-size: .8rem;
  } 

  .form--control__container span {
    left: .4rem;
    font-size: 1.3rem;
  }

  .header--addphoto__button {
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 4px;
  }
}